.border-3 {
    border-width: 3px!important;
}

.opacity-50 {
    opacity: 50%!important;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.text-dark {
    color: #212529!important;
}

.bg-dark-gray {
    background-color: #636b6f;
}

.select2-container {
    width: 100%!important;
}
